*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}
:root {
    --body-color: #fff;
    --main-color: #1A374D;
    --secondary-color: #B1D0E0;
    --color-button: #406882;
} 


/* Section one  */
.landingPageSection{
    display: flex;
    justify-content: space-around;
    width: 65%;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}
.landingPageSectionHeader{
    border-radius: 131px;
    padding: auto;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--main-color);
}
.landingPageSectionHeaderH1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--body-color);
    font-size: 55px;
}
.flexContant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detailsParagraph{
    color: var(--main-color);
    border-radius: 40px;
    padding: 20px;
    background-color: var(--secondary-color);
    max-width: 300px;
    margin: 30px;
}
.registerSection{
    color: var(--main-color);
    border-radius: 40px;
    padding: 20px;
    background-color: var(--secondary-color);
    max-width: 300px;
    margin: 30px;
}
input.registerSectionInput{
    border: none;
    outline: none;
    height: 40px;
    background-color: var(--body-color);
    border-radius: 30px;
    padding: 10px;
}
.registerSectionH3{
    letter-spacing: 5px;
    margin: 10px;
}
.detailsP{
    letter-spacing: 1px; 
}
.registerSectionInput{

margin: 10px;
}
.registerSectionButton{
margin: 10px;
}
/* CSS */
    .button-46 {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    }

    .button-46:active,
    .button-46:hover {
    outline: 0;
    }

    .button-46:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
    }

    @media (min-width: 768px) {
    .button-46 {
        font-size: 20px;
        min-width: 200px;
        padding: 14px 16px;
    }
    }