* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
:root {
  --body-color: whitesmoke;
  --main-color: #312435;
  --secondary-color: #d0a7dd;
  --color-button: orange;
}
.html{
  scroll-behavior: smooth;
}
.welcome {
  height: 100vh;
  background-image: url("imgs/bg.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome .title {
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.welcome .app-name {
  color: orange;
}
.welcome .content {
  display: flex;
  flex-direction: column;

}
.welcome .btn1,
.welcome .btn2 {
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: orange;
  padding: 10px 130px;
  font-weight: bolder;
  /* margin-left: 20px; */
  color: #312435;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
}
.btn1:hover,
.btn2:hover {
  background-color: #d0a7dd;
}

.leaderboard{
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* height: 100vh; */
  background-color: whitesmoke;


}
.leaderboard .title{
  font-size: 36px;
  color: #312435;

}
.leaderboard .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 100px;
  
}
.leaderboard .cup{
  height: fit-content;
  width: 300px;
  /* margin-left: 150px; */
  
}
.leaderboard .leaders{
  /* background-color:#312435; */
  border-radius: 12px;
  background-image: linear-gradient(#312435, #d0a7dd);
  list-style-type: none;

}
.leaderboard .leader{
  padding: 7px ; 
  width: 300px;
  text-align: center;
  background-color: orange;
  color: #312435;
  margin: 15px;
  height: fit-content;
  border-radius: 12px;

}
.leaderboard .start-btn{
  width: 76%;
  background-color: #312435;
  color: orange;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;

}
.leaderboard .start-btn:hover{
  background-color: #d0a7dd;
  color: #312435;
}