* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
:root {
  --body-color: whitesmoke;
  --main-color: #312435;
  --secondary-color: #d0a7dd;
  --color-button: orange;
}
body{
  background-color: #312435;

}

/*start result-section */
.result-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 110px 250px;
  padding: 50px 100px;
  border-radius: 15px;
  background-color: var(--secondary-color);
}
.score-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
  background-color: var(--body-color);
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0 10px;
  width: 100%;
}
.score-title {
  color: var(--main-color);
  font-size: 32px;
  font-weight: bolder;
  padding: 15px;
}
.score {
  color: var(--main-color);
  border-radius: 50px;
  border: 2px solid transparent;
  background-color: var(--body-color);
  padding: 10px 20px;
  font-weight: bolder;
}
.message-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  /* justify-content: space-between;
  align-items: baseline; */
}
.message,
.name {
  font-size: 50px;
  color: var(--main-color);
  /* padding-bottom: 50px; */
  font-family: "Cairo", sans-serif;
}

.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}
.review-btn,
.exit-btn {
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: var(--color-button);
  padding: 10px 100px;
  /* width:50%;  */
  margin: 20px;
  font-weight: bolder;
  color: var(--main-color);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.exit-btn:hover,
.review-btn:hover {
  border: 2px solid var(--main-color);
}
/*end result-section*/

/*start review-section*/
.review-section {
  /* margin: 110px 250px;
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 80px 250px;
  padding: 50px 100px;
  border-radius: 15px;
  background-color: var(--body-color);  
  color: var(--main-color);
}
.title{
    padding-bottom: 40px;
}

.div-ques {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;

}
.quesWrong, .quesRight {
  /* background-color: var(--secondary-color); */
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 10px 20px;
  width: 46%;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  box-shadow: #b1d0e0;
  box-sizing: border-box;
}
.quesRight{
    background-color: rgb(150, 219, 150);
}
.quesWrong{
    background-color: rgb(240, 147, 147);
}
.review-section .exit-btn{
  width: 100%;
}
@media (max-width: 768px) {
  .result-section{
    padding: 0;
    margin: 25vh 20px;
    padding-bottom: 10px;
  }
   .exit-btn {
    margin: 5px 0 5px 0;
    padding: 10px 10px;
    width: 90%;
  }
  .review-section{
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .div-ques{
    justify-content: center;
    width: 100%;
  }
  .quesWrong{
    width: 90%;
    margin: 10px 0 ;
  }
}
/*end review-section */
